commands:
    01_setup_swap:
        test: test ! -e /var/swapfile
        command: |
            /bin/dd if=/dev/zero of=/var/swapfile bs=1M count=2048
            /bin/chmod 600 /var/swapfile
            /sbin/mkswap /var/swapfile
            /sbin/swapon /var/swapfile
container_commands:
    01_migration:
        leader_only: true
        command: "node ace migration:run --force"
    02_seed:
        leader_only: true
        command: "node ace db:seed"